<script setup lang="ts">

interface Props {
  primary?: boolean;
}

withDefaults(defineProps<Props>(), {
  primary: false,
});

</script>

<template>
  <button class="btn" :class="{ primary }">
    <slot />
  </button>
</template>

<style scoped>
button {
  padding: 0.6rem 1.25rem;
  background-color: #747bff;
  border: 0;
}
button:hover {
  background-color: #535bf2;
}
</style>
